[2015-10-07 12:36] Oggymator opened #2 "White bulb/stripe control"
Hi,
is it right, that I can control only RGBW bulbs/stripes?!
I see in the App "EVE" only the 4 zones of the RGBW controller.
Is it possible to Add also the 4 zones of the Single/Dual White controller?
thanks
Oggy

[2015-10-07 15:58] mwittig commented on #2
Hi Oggy,

as far as I know this should be possible as there are remote controls with 4-zones for white LEDs - see http://www.amazon.com/LEDENET%C2%AE-Control-Wireless-Dimmable-Controller/dp/B00I09J4P0
I am not sure what the "EVE" App is, but if you use the official control Apps (Milight (iOS) or Mi.Light (Android) you can select a control for the dual white 4-zone controller. See also http://www.m

[2015-11-01 00:42] mwittig commented on #2
no further response

[2015-11-01 00:42] #2 closed, assigned to mwittig

[2016-01-02 13:15] mwittig commented on #2
Release 0.0.4 - Added example for WW/CW bulbs/strips

[2016-09-23 01:10] mattjanssen opened #7 "RGBWW Saturation Control / New v6 Bridge"
Looking at the LimitlessLED strip controllers page, there's a new one (as of 2016) that says it'll run both the RGB chips _and_ the white chips at the same time, giving us saturation control.

Do you think the LimitlessLED WiFi Bridge v5.0 can handle RGB + white at the same time? And if so, would this library handle it? Otherwise we're waiting for the WiFi Bridge v6.0 I assume.

[2016-09-23 06:00] Oggymator commented on #7
Have to wait for the new bridge, that will come next month.
The production of the "old" one ends this month.
So if anybody need it, buy quick.

The new bridge will have a complete new App.
So I don't know if this Library will work with it.

[2016-09-23 06:28] mwittig commented on #7
I think this will only be supported with the newest generation if RGBWW/CW bulbs. See
http://www.limitlessled.com/shop/rgbw-ww-cw-light-bulb/

I think it works more-or-less the same way as with v4.0.  The major difference is that you have up to 1000 bulbs perzone with v5.0 in contrast to 100 per zone with v4.0. For sure, there will ~~are~~ also be other advances with v6.0 - let's see see :).

Page

[2016-09-23 06:33] Oggymator commented on #7
The RGB+Dual White Bulb(RGB+CCT) will not work with the Bridge V4.0 oder V5.0.
For this you need the complete redesigned Wifi Bridge that will come in the next month.

[2016-09-23 07:07] mwittig commented on #7
Thanks, for pointing this out! In the middle of writing I mixed-up the version numbers. I edited my previous post accordingly.

[2016-10-22 15:09] Pierre-Gilles opened #8 "Best practice regarding Milight instance"
Hi !

I'm the founder of Gladys ( https://github.com/GladysProject/gladys ), and I'm using your module in my Gladys-milight module.

As Gladys is a long-running program, I would like to know what is your point of view regarding the life cycle of the Milight object ( see below ). Should I rather create this object once when Gladys start, and use it forever, or should I create an instance of this ob

[2016-10-27 15:02] mwittig commented on #8
Hi Pierre-Gilles,

I am sorry for the delay in reply. Thank you very much for using `node-milight-promise` as part of Gladys. Btw, the project looks exciting to me and maybe I can contribute in some areas, occasionally. As you may know, I have been actively contributing to the [pimatic home-automation framework](https://pimatic.org) and authored various plugins. May be some of these plugins can be

[2016-10-28 06:54] Pierre-Gilles commented on #8
Yeah totally :) I'll get a look !

Thanks, that what I was thinking first, but I just wanted your confirmation. I think for most case that's the best options. Removing the network interface is not something that happens everyday, and I assume the user who is touching to this kind of settings can understand i can break things. Btw if I get an error I can in Gladys try to create another instance and

[2016-10-28 15:30] mwittig commented on #8
see https://github.com/mwittig?tab=repositories&type=source - basically, projects starting with "pimatic-" are plugins. Unfortunely, github won't let you filter by name and type (source) in a single query.

Maybe the "pimatic-amazing-dash-button" is something fancy to start with.

I'll keep you posted re my findings on socket errors and socket error handling.

[2016-11-02 10:24] Pierre-Gilles commented on #8
Awesome ! Thanks ! :)

[2016-11-28 10:22] Oggymator commented on #7
The new Bridge is available, so satturation control by App is possible with the RGB+CCT controller or RGB+CCT lights.
Here the Link from Limitlessled with the API:
http://www.limitlessled.com/dev/

Maybe you can make a second plugin for the new bridge, I dont know what is changed to the old one.

Also you can buy it from me if you want(German reseller), but I will not make some promotion here. Onl

[2016-11-28 11:23] mwittig commented on #7
Thanks for letting me know! Buying from you would also help to speed up things.  Can you please send me an email with details on pricing/shipping costs. Thanks!

See my coordinates at
https://www.npmjs.com/~mwittig

[2016-11-28 11:42] Oggymator commented on #7
send an email, maybe have to look in the spam folder ;)

[2016-11-29 20:03] rspaargaren commented on #7
Nice, just checking if  @mwittig was picking up the conversion to the v6 bridge. As I have this box in my house now and love to see the integration with Pimatic working. If you need some testing done...

[2016-11-30 21:05] rspaargaren commented on #7
on the miligth tweakers forum more info can be found on how to interpretate the limitlessled dev information.

[2016-12-01 12:33] mwittig commented on #7
@rspaargaren  Thank you for the info.  Do you have  a pointer for the Milight Tweakers Forum? The only forum I am aware of is the Dutch Tweakers.net forum at <https://tweakers.net/merk/3235/milight/forum/>. If this is the forum you're refering to, maybe you can point me to the interesting threads?! This would be great.

Thank you very much also for your offer to test stuff! I certainly will provid

[2016-12-01 13:02] rspaargaren commented on #7
@mwittig The forum I was refering to is https://gathering.tweakers.net/forum/list_messages/1650755/63
In the code provided by limitedless a wifibridge ID is mentioned. This is refering to a session id wich can be asked by sending out the following sequence:
UDP 20 00 00 00 16 02 62 3A D5 ED A3 01 AE 08 2D 46 61 41 A7 F6 DC AF D3 E6 00 00 1E
The wifibridge will answer with a hex sequence as well. T

[2016-12-02 11:07] mwittig commented on #7
@RSpaargaren As far as I understand the conversation on Tweakers.net you have some basic prototyping code running for Milight v6? If yes, are you ready to share this with me? Maybe via gist? This would be great.

Update from my side: Thanks to @Oggymator I now have a v6 bridge to play with. I have started to implement the discovery part  (very easy)  and started to reverse engineer the wire-protoc

[2016-12-02 12:02] rspaargaren commented on #7
Hi, unfortunately I don't have prototyping software running. What I did was a manual interaction with the wifi bridge via Packet sender. Basically I have followed the following protocol.
Send out the following HEX UDP  package to wifi bridge port 5987
UDP 20 00 00 00 16 02 62 3A D5 ED A3 01 AE 08 2D 46 61 41 A7 F6 DC AF D3 E6 00 00 1E
The Wifi Bridge responds with a hex string and I pick the 20 th

[2016-12-02 14:05] Oggymator commented on #7
@mwittig
The most people dont know it, but LimitlessLED is not the producer or inventor of these lights and products.
At the moment he is only a reseller like me. In the past he was involved on the first wifi bridge, if my informations are correct.
Maybe thats the reason why API is not correct.
The real company behind the products came from china and have also some more porducts like LimitlessLED

[2016-12-02 16:21] mwittig commented on #7
@Oggymator thank you very much for the clarification. This seems also to be the case for Milight.com as the "About Us" page prompts the folllowing: "Gigateq Limited is an electronic retailer based in Manchester, United Kingdom. We are the largest independent online manufacturer and retailer of the innovative easybulb LED bulb that can be controlled with smartphones and mobile devices".

[2016-12-02 16:23] mwittig commented on #7
@rspaargaren Thank you very much for getting back to me. I'll do my best in developing a first draft based on the available information.

[2016-12-02 17:37] Oggymator commented on #7
@mwittig
Yes, MiLight.com is also only a reseller from the Chinese company with its brand Easybulb.
They was fast enough for the domain milight.com ;)
We have the domain mi-light.de so it is not easy to find the real Producer with the domain.
It is also not easy to communicate with the real Chinese company about the API, but I can try if it will help you.
For the last times I got the LimitlessLED

[2016-12-02 21:08] rspaargaren commented on #7
@mwittig @Oggymator how About futlight.com? Are they the real supplier? They seam to have a complete and new range on their website?

[2016-12-02 21:09] Oggymator commented on #7
You found it ;)

[2016-12-02 21:34] duecedriver commented on #7
found the api for the milight v3 / limitless v6 on the limitless site..

http://www.limitlessled.com/dev/

[2016-12-02 21:38] duecedriver opened #11 "new milight v3 / limitless v6 hubs..."
any progress updating for the new hubs?  I found the api for the new hubs on limitlessled wesite if it helps..

[code]

[2016-12-02 21:49] mwittig commented on #7
@duecedriver Thank you very much. I have edited your post and replaced the content with the link to the originating site.

[2016-12-02 21:51] mwittig commented on #11
Thank your very much. Please see https://github.com/mwittig/node-milight-promise/issues/7

[2016-12-02 21:51] #11 closed, assigned to nobody

[2016-12-02 22:04] duecedriver commented on #7
thanks... I use home assistant and doesnt look like the new v3/v6 hub is supported there yet either...

hope this api info can help you guys get this working !!!

[2016-12-04 04:12] duecedriver commented on #7
Hamish... at limitlessled in NZ and i have been talking via email and he is working with developers and writing example scripts for them.. he is a development partner with the mfg and has the source code for the v6 bridge... contact him at limitlessled and I am sure he will give you anything you need... no need for reverse engineering if he can give you the whole book chapter and verse...

Hoping

[2016-12-04 07:46] rspaargaren commented on #7
He is quite active on the following NZ forum:
http://m.geekzone.co.nz/Forums/73/Topic/113569/50

[2016-12-09 08:48] mwittig commented on #7
Brief update: I queried LimitlessLED for more technical information and received a friendly response. Following this, the website had been updated with some more details. It was also promised some example code will be published soon.

Based on the information provided by @rspaargaren I have some basic code up running which switches the bridge LED, extracts the WifiBridgeSession bytes, builds the m

[2016-12-09 09:15] rspaargaren commented on #7
Hi @mwittig good work!, I am looking forward for your first beta version! I am also happy to read that v7 of the software is also comming where we can control individual lights etc. I expect the change in code in v6 is already preparing for that...

[2016-12-12 12:24] rspaargaren commented on #7
Hi @mwittig did you check the limitless website? They have now added a nodejs example code ! Or did you create this code..?

[2016-12-12 14:17] mwittig commented on #7
No, I didn't create this code. The example is incomplete unfortunately, but still it is very helpful

[2016-12-14 11:23] rspaargaren commented on #7
Here another piece of code....

https://github.com/daniel-t/MiLight_v6

[2016-12-15 07:07] mwittig commented on #7
@rspaargaren That's great. The code published on the Limitless LED web seite for nodeJS appears to be excerpt of the code included in this project!

I am making good progress and have working code for most of the command set including WW/CW white bulb commands which are not including in the info published so far.

[2016-12-18 19:01] stepnoy opened #12 "New version of bridge"
Does it supports version 6 of wifi bridge?

[2016-12-18 19:50] Oggymator commented on #12
See
https://github.com/mwittig/node-milight-promise/issues/7

[2016-12-18 22:28] mwittig commented on #12
New release will be available before Xmas. Stay tuned

[2016-12-18 22:28] #12 closed, assigned to nobody

[2016-12-21 13:54] mwittig commented on #7
Sorry for the delay at my end, as other things kept me busy most of the time. I have now pushed a first batch of the V6 implementation to the repo as promised.

I am planning to release the code before end of the year. So, if you guys have some time to play with the code and provide feedback this will be great! Just have a look at the examples to start with.

[2016-12-23 19:15] rspaargaren commented on #7
great also here a bit busy, but I will have a look! Keep up the good work.
What is the best way to test your code? Normally I use pimatic but can I also control it on prompt level or via a short script. I am not (yet) so familiar in this field.

[2017-01-02 21:29] odelma opened #13 "How to control RGB+CCT color temperature in white mode?"
Hi, thanks for this great library. At last I can integrate some functionality also to my home automation system (Domoticz)! 😄

Unfortunately I couldn't figure out if there is a way to control the color temperature of white mode (warm / cold) with "FullColor" bulbs? Seems that when "whitemode" is set, the temp goes to coldest. Is there a way to set a warmer color temp for white?

Once again, thanks

[2017-01-02 23:21] mwittig commented on #13
Hi, thank you very much for using node-milight-promise and the positive feedback!

Actually, changing the the white color temperature is currently missing, but I'll add this asap.

[2017-01-03 10:59] odelma commented on #13
Thanks a lot! Now I understand why I was not able to figure it out earlier :smile: Will test later this evening...

edit: works great, thanks!

[2017-01-04 09:16] #13 closed, assigned to nobody

[2017-01-15 10:54] GermanBluefox opened #14 "When you plan to publish your new version on npm?"
Because of V6 support?

[2017-01-15 10:59] GermanBluefox commented on #14
Btw, this code is working for me: https://github.com/Daniel-t/MiLight_v6/blob/master/milight.js

[2017-01-15 13:34] mwittig commented on #14
Hi, thank you very much for looking into node-milight-promise!

The only thing missing right now is session management which I am currently working on. The  code is on master apart from the session management code which I am currently developing. See also #7 for details.

I am aware of the other project which has some shortcomings though. My intent is to support the v6 API and the legacy API in a

[2017-01-15 13:34] #14 closed, assigned to nobody

[2017-01-17 17:50] mwittig opened #15 "Add support for keep-alive command messages"
This requires a better understanding of what can be done with keep-alive messages.  The behavior of keep-alives as part of the Milight protocols isn't documented.

[2017-01-24 14:28] mwittig commented on #7
Released version 0.1.0

I am closing this now. Please open a new ticktet for any related issues or questions. Thanks again for your support in getting V6 support realized as part of node-milight-promise! Certainly, I'll continue improving the  library.

[2017-01-24 14:28] #7 closed, assigned to mwittig

[2017-02-13 13:01] webfrank opened #16 "How to send commands to wifi box?"
I have a V6 WiFi iBox with light and no other bulbs at the moment, but I cannot find a way to send commands to the bridge itself.

[2017-02-13 13:06] mwittig commented on #16
See https://github.com/mwittig/node-milight-promise/blob/master/examples/example-bridge-v6.js which is an example on how to control the bridge light. Instead of providing the global broadcast address which is the default, you should provide the IP address of the Milight Controller for unicast mode. Don't use the global broadcast address on Windows as this may give unexpected results.

[2017-02-13 14:18] mwittig commented on #16
I think the question has been answered. Please re-open if you want to follow-up on this

[2017-02-13 14:18] #16 closed, assigned to nobody

[2017-02-23 12:55] ygalanter opened #17 "Script hangs?"
Sorry for probably really stupid question, I tried to create basic script based on your example, but it hangs on object creation. If I leave this part in the code (192.168.1.24 is IP of my bridge):
[code]
it simple hangs, no errors, but it doesn't proceed any further. I am probably missing something basic, but any idea what it can be?

[2017-02-23 17:21] mwittig commented on #17
Hi, thanks for trying node-milight-promise!

Your script hangs as the `light` object has opened event listeners for the UDP connection to your milight bridge. That's common node.js behaviour, btw. - a node.js app won't terminate if there event listeners waiting for events.

See [example-rgbw.js](https://github.com/mwittig/node-milight-promise/blob/master/examples/example-rgbw.js) where you can see

[2017-02-23 17:28] ygalanter commented on #17
Thank you very much for the prompt response!

Yes this module is godsent for v6 milight. Now instead of sending raw multibyte codes I can work with cool objects and methods.

Oh, I thought all commands are sequential – object is created and then commands follow. Am I understanding correctly that following commands will still execute even though listener is waiting?

Thanks!

Yuriy.

From: Marcus W

[2017-02-23 18:34] mwittig commented on #17
Yuriy, actually commands are added to a promise chain. Each command returns a promise, and the next command will only be executed if the previous promise has been settled. The same is true for close() . The actual tear down of the UDP socket and removal of the even listeners is performed no earlier than the last command promise has been settled.

If you like node-milight-promise please consider st

[2017-02-23 20:16] mwittig commented on #17
If I am getting you right you have one of these new bridges which use the new "v6" protocol. If this is the case the setup of the Milight object needs to be slightly different:

[code]
You don't need to set delayBetweenCommands and commandRepeat for v6 as the new flow control feature will handle that for you.  Please have look at the README and the examples for more details.

[2017-02-23 20:22] ygalanter commented on #17
You’re right, got v6 bridge, thanks for the pointers. Starred the project because it’s awesome.

Also this is what the doctor ordered for Alexa/Google Assistant voice integration. HA-Bridge (https://github.com/bwssytems/ha-bridge)  allows to run custom scripts, so I plan to call code using your module from ha-bridge.

Thanks,

Yuriy.

From: Marcus Wittig
Sent: Thursday, February 23, 2017 3:16 PM
T

[2017-02-24 14:13] mwittig commented on #17
Yuriy, thanks a lot! I am closing this issue now.
Please, feel free to open a new issue if you have further questions

[2017-02-24 14:13] #17 closed, assigned to nobody

[2017-02-24 14:17] mwittig commented on #8
Hi, I have no news regarding the socket error handling, but I wanted to draw  your attention to my recent work on supporting the new version of Milight bridges which implement  a new protcol and also provide support for the new Full colour bulbs. Maybe this is something to integrate into gladys.

[2017-02-25 03:56] ygalanter commented on #17
Thanks again for your help, it's working beautifully. I've blogged about how it helps with Amazon Echo voice commands, perhaps might be useful as usecase showcase: http://codecorner.galanter.net/2017/02/24/full-control-of-your-limitless-ledmilight-v6-bulbs-from-amazon-echo/
Thanks!

[2017-02-25 11:10] Pierre-Gilles commented on #8
Thx for your message here, Nice work!

Is the API still the same ? Do I have just to update the NPM dependency in my gladys module?

[2017-02-25 12:27] mwittig commented on #8
To support the legacy bridges as is, there are no API changes except for the following:
https://github.com/mwittig/node-milight-promise#breaking-and-notable-changes

To support the *new* bridges the API is slightly different I have written a couple of examples (filenames with "v6" suffix) which demonstrate how to use new protocol. The new bridges also support a new type of bulb which provides "ful

[2017-02-25 12:36] mwittig commented on #17
Yuriy, excellent! Thanks for the pointer. I'll definitely add a link to your article to the README with the next release as I think it is very useful for other users.

[2017-03-07 15:19] Pierre-Gilles commented on #8
Ok I see.

Thx for the explanation !

Does it mean I need to handle both bridges separately ? When I discover bridges with the "all" option, do I know if a bridge is v6 or no ?

In Gladys i'll need to store somewhere if the bridge is v6 or not, and then call the right command for the right version of the bridge

[2017-03-13 16:02] mwittig commented on #8
Sorry for the delay in reply.

You don't need to handle them seprately, but you need to be aware the command syntax for the new and old protocol does not exactly match. See https://github.com/mwittig/pimatic-milight-reloaded/tree/master/devices for an implementation of all-in-one device drivers.

The result objects contain a "type" property which is either "legacy" or "v6". See https://github.com/

[2017-03-25 01:37] greggilbert opened #18 "Inconsistency in rgbw and full-color"
Hey there. First off, awesome library - gamechanger for me.

I've got a v6 bridge ([this one](https://ae01.alicdn.com/kf/HTB1ZzeZOXXXXXcuapXXq6xXFXXXk/Mi-Light-Wifi-ibox-2-4G-Wireless-LED-RF-Dimmable-Remote-By-APP-iOS-Android-for.jpg_640x640.jpg)), and I have one [RGBW/WW/CW Full Color](http://www.limitlessled.com/wp-content/uploads/2016/01/RGBWWCW1.png) and one [RGBW Color](http://www.limitlessle

[2017-03-26 07:57] AniTigran commented on #15
sombody can give me milightv 6 modul end send comand

[2017-03-26 13:34] mwittig commented on #15
@AniTigran Can you please give some more details about what you need? Please also have a look at the [examples](https://github.com/mwittig/node-milight-promise/tree/master/examples). Generally, the flow is as follows:

[code]

[2017-03-29 10:10] AniTigran commented on #15
I have asmart home in majordomo,but I can not connect to the smart home milightV6 it dose not recognized.Ithink that the modul of wifi Ibox and send comande not work can you help me to connect

    ip: "192.168.0.34",
    type: 'v6'
  }),
  zone = 1;

// Send commands
light.sendCommands(commands.rgbw.on(zone));

// ...

// Finall close the connection to terminate the application
// It will close w

[2017-03-29 11:03] mwittig commented on #15
Did you try "discover" your Ibox? Try to run "discover-bridges-v6.js" located in the examples directory

[2017-04-01 17:33] AniTigran commented on #15
I can not connect milightv6 to my smart home it not respond. I put the IP of milightv6,numbers of zones,and color of the led,make a send comande on but there no aswer from milight.in configration of old milight in my smart home I must put a milght modul php ,milght class,and send comand in all.My smart  home platform is MAjordomo.

[2017-04-02 07:18] mwittig commented on #15
Did you pair your lights with the ibox controller?

[2017-04-02 07:47] AniTigran commented on #15
Yes I do it work corectly by the progrom OF LIMITLESSLED .Led lights work but not work with smart home

[2017-04-02 17:43] mwittig commented on #15
Did you try the example programs as sugested earlier? Are you sure majordomo is using node-milight-promise? As far as I can see majordomo is written in PHP and has its own set of PHP plugins like https://github.com/Gelezako/MajorDomo-MiLight

[2017-04-02 19:04] AniTigran commented on #15
Yes of cours Itry but without result.what about  milight v6 PHP plgins I finde  https://github.com/Uhula/IPSMilightV6  in IPS Milightv6 I finde some module milghtV6 php  ,but with this module it not respond it like not understend comands.is it try?and what I must finde new send comand?

[2017-04-03 18:47] mwittig commented on #18
Sorry for the delay in reply. I'll look into this asap.

[2017-04-04 08:00] mwittig commented on #18
Greg, thanks for reporting and the positive feedback. I'm able to reproduce the issue and it should be fixed shortly. Please note the color rendition (even for "full color") is limited: 255 hue values instead of 360 degrees hue, 20 native brightness levels instead of 100 eventhough the API is suggesting 100 levels, quality of the saturation is unknown. You'll notice the full color light for for #C

[2017-04-04 08:18] mwittig commented on #18
published node-milight-promise@0.1.2

[2017-04-04 08:18] #18 closed, assigned to nobody

[2017-04-04 10:34] mwittig commented on #15
Sorry, I am a bit lost here. As far as I can see "IPSMilightV6" and "MajorDomo-MiLight" are completely unrelated to my project. Maybe you can use "IPSMilightV6" as a basis for a MajrorDomo Milight V6 plugin.

If you want to trial my project  please try to execute the examples as suggested earlier.

[2017-04-04 14:49] greggilbert commented on #18
Thanks! Just to be clear, the color rendering limitation is a Milight hardware issue, right?

[2017-04-04 15:59] mwittig commented on #18
Yes, that's right!

[2017-06-06 22:38] bartbutenaers opened #21 "Programmatic light bulb syncing"
Dear Marcus,

I'm a newbie in the Milight world, and I'm wondering if this node can be used to programmatically link my Milight light bulbs to a specified zone?

**Current setup without NodeJs**

`Milight App --> V6 Wifi bridge (iBox 2) --> light bulb`

When powering up a light bulb, you have 5 seconds in the Milight App to press a zone number X (from 1 to 4).  From that moment on, the light bulb

[2017-06-09 15:40] mwittig commented on #21
Hi Bart,

Thanks for using node-milight-promise! Do you have written your own Node-Red integration? In case, I am interested in learning more about your project if you're happy to share it.

When the bulb has not been linked yet to the controller it is good enough to send the .on() command a few times. This will link the bulb to the given zone of the iBox. According to my findings a bulb can only

[2017-06-10 10:44] mwittig commented on #21
Published node-milight-promise@0.1.4

[2017-06-10 10:44] #21 closed, assigned to nobody

[2017-06-13 20:51] bartbutenaers commented on #21
Hey Marcus,

we are currently experimenting with an existing [node-red-contrib-milight](https://www.npmjs.com/package/node-red-contrib-milight) node.  There is also another node-red-contrib-milight-wrapper node available (which adds some extra commands), but we haven't tried that yet.  Now we will have to experiment with these linking and unlinking options in Node-Red ...

Thanks for you fast repl

[2017-06-14 17:09] mwittig commented on #21
Hi Bart,

thanks for starring the project and the info on your work with node-red. I am glad you like the project.

I briefly looked into node-red-contrib-milight which does not seem to support the new "ibox" and "ibox2" wifi controllers! Is that something you're tyring to do? If you need assistance in extending the node-red-contrib-milight code please let me know. It should be relatively straight

[2017-06-17 22:45] bartbutenaers commented on #21
Hi Marcus,

I don't own an iBox2 myself, but a collegue at work is struggling to get it working via Node-Red.  So he asked me to get into contact with you.    But indeed, he is trying to connect it's iBox2 wifi controller using that node.  We planned to dig into the node-red-contrib-milight code in a couple of weeks.  I don't want to create a new Node-Red node, since Nick O'Leary already [asked](h

[2017-06-19 17:30] RobinBol opened #22 "Dual White v6 commands not working"
I have a Milight 6W DUAL WHITE LED Lamp E27 linked to a v6 bridge, but when using the white commands (for example the example-dual-white-v6.js script) the bulb does not react, when using the new mobile app (specifically the 10th remote in the remote selector), it does work. Could it be that the commands are not correct? Anyone else having issues with the dual white bulbs? RGBW is working fine by t

[2017-06-19 22:34] mwittig commented on #22
Works for me, but maybe I have an older version of the dual white bulb. Mine is working with controller 11 and 12 of the Milight iPhone app.

![image](https://user-images.githubusercontent.com/6117742/27308655-16392412-5550-11e7-9e1b-de51a5283641.png)

![image](https://user-images.githubusercontent.com/6117742/27308673-2a0852c4-5550-11e7-923e-f689aaab32b6.png)

[2017-06-22 10:54] mwittig commented on #22
@RobinBol any news on this? Maybe you can describe which bulb model you have and post a screenshot of the app control you're using. Thanks

[2017-06-22 11:46] RobinBol commented on #22
Sorry for my slow response, I was not able to test some things that I wanted to test before reporting back.

So it turns out, I paired the exact same bulb you show (according to the text on the bulb) but with the following remote:

![image](https://user-images.githubusercontent.com/5762579/27432220-915a3022-574f-11e7-88c7-65932b9ef581.png)

So my guess was that this is causing the bulb to not work

[2017-06-22 11:50] #22 closed, assigned to nobody

[2017-06-24 23:18] mpartoglou opened #24 "RGBW NightMode is a valid FullColor command"
Hi,

Loving this - works a charm for me (using v6 bulbs). I have a mixture of RGBW and FullColor in my house - both support the nightmode feature.

Just an option - you could include this in the commandsv6 so it can be run via: light.sendCommands(commands.fullcolor.nightMode(zone));

Alternatively, for others you can simply run it as below (same outcome).
light.sendCommands(commands.rgbw.nightMode

[2017-06-25 12:00] mwittig commented on #24
Hi @mpartoglou

thanks for using node-milight-promise! The command `commands.fullcolor.nightMode(zone)` is already included and it should work. I have just re-tested it with my 8W RGB+CCT Milight bulb and it works for me (see sample below).

Marcus

[code]

[2017-06-25 12:12] mpartoglou commented on #24
@mwittig thanks so much - apologies, seems to be working for me now. I will close this off!

[2017-06-25 12:12] #24 closed, assigned to nobody

[2017-07-07 08:53] thofra opened #25 "Enhancement: Support from v6 Bridge led"
The v6 bridge also provides a RGB led which can be controlled from the app. Any plans to include support for this bridge? Basically, this led always lights up when the bridge is powered up. I would like to switch it off in such cases w/o the need to open the app. Bridge led control is described in http://www.limitlessled.com/dev/ - thanks a lot for your efforts.

[2017-07-07 10:52] mwittig commented on #25
Hi @thofra

I am happy to do this. However, I don't think http://www.limitlessled.com/dev/  contains the v6 control codes for RGB as it doesn't for WW/CW. Please point me to the specific location if you have spotted them though.

Do you use the Smartphone App? If yes,  it'll be helpful to know which control panel you use to control your RGB lights! Is it possible for you to make a screenshot? In c

[2017-07-09 21:18] thofra commented on #25
Hi, it is a little bit hidden on that side. Please search for "Wifi Bridge" and you should find the following - at least I think this is the right way to access it:

Wifi Bridge iBox LED Lamp {COMMAND}s (Zone Number = 0x01)
31 00 00 00 03 03 00 00 00 = Wifi Bridge Lamp ON
31 00 00 00 03 04 00 00 00 = Wifi Bridge Lamp OFF

31 00 00 00 01 BA BA BA BA = Set Color to Blue (BA) (FF = Red, D9 = Lavender

[2017-07-09 21:25] thofra commented on #25
![screenshot_20170709-232152](https://user-images.githubusercontent.com/23433461/27997669-e1f78014-64fd-11e7-8107-fbff6433807a.png)

[2017-07-15 13:38] mwittig commented on #25
Thanks for your feedback. I'll try to look into this asap

[2017-07-18 14:23] HellandB commented on #21
Hi Bart,

Did your friend figure out how to connect his ibox2/Limitless bridge v6 to Nodered?
I am in the same position having an unused v6 here that I can't integrate into my home automation system. I can't find any information on internet on how to set up the v6 for node-red. Would love if this node-milight-promise node got upgrade with v6 support. V5 version of bridge working flawlessly with th

[2017-07-18 19:02] mwittig commented on #21
@bartbutenaers, @HellandB, et al.

I reviewed the project for node-red-contrib-milight (https://github.com/stephenkeep/node-red-contrib-milight) and spent some time to add support for the "full color" bulb and bridge light. The code currently resides in my fork as I want to do more testing. If you are impatient and want to give it a try you should be able to install from my fork if you have git in

[2017-07-19 08:51] HellandB commented on #21
Wow! This great news. Thank you so much for looking into this. I'm busy the next weeks, but hope to have some time to play with it. Ill see if I try your fork or if its already merged into the master project.

[2017-07-19 10:47] bartbutenaers commented on #21
Hi Marcus,

my friend is in holiday currently.  Once he is back, he will test it.  Thanks very much for analyzing and contributing the node-red node.  Great support !!!!

Kind regards,
Bart

[2017-07-19 14:27] mwittig commented on #21
@bartbutenaers, @HellandB, et al.,

you're welcome! As another improvement I have implemented a new "rgb" command which is useful if you want to use MiLight along with dashboard, for example. This way, it is possible to use the color picker. I am sure it is also useful in other scenarios. Meanwhile, I have a filed a pull request to the project.

Kind Regards,
Marcus

[2017-07-22 13:56] mwittig opened #26 "Unhandled rejection Error: no response timeout"
[code]

[2017-07-25 19:00] Steiger04 opened #27 "V6: RGB BULBS SINGLE CHANNEL/ZONE"
Hi,
for V6:  RGB BULBS SINGLE CHANNEL/ZONE

RgbCommand.prototype.on = function(zone) {
  return [0x31, 0x00, 0x00, 0x05, 0x02, 0x09, 0x00, 0x00, 0x00, 0x01]
};

and

RgbCommand.prototype.off = function(zone) {
  return [0x31, 0x00, 0x00, 0x05, 0x02, 0x0a, 0x00, 0x00, 0x00, 0x01]
};

parameter zone is never used. Is that right?

thx
Carsten

[2017-07-25 19:53] HellandB commented on #21
Just tried your fork, installing just fine, but I get a error message when trying to push commands. I copied the example flow from the readme, and if I try push on (or any other button) node-red throws:
"Milight error: RangeError: Offset into buffer too large"

[2017-07-26 23:43] mwittig commented on #27
Hi Carsten, yes that's right. As the the command set is for the single-channel RGB Command Control the zone isn't applicable. I'll remove the zone parameter in a future release for clarity. Marcus

[2017-07-26 23:43] #27 closed, assigned to nobody

[2017-07-27 00:00] mwittig commented on #25
Sorry for the delay in reply.

31 00 00 00 03 03 00 00 00 = Wifi Bridge Lamp ON
31 00 00 00 03 04 00 00 00 = Wifi Bridge Lamp OFF

Please note, the commands and the screenshot of the control you've sent are for the iBox bridge light. This is already supported.  You can use it as follows:

[code]

[2017-07-27 00:00] #25 closed, assigned to mwittig

[2017-07-27 23:22] mwittig commented on #21
Hi. The example flow may be outdated. I need to test it myself.

[2017-07-27 23:37] mwittig commented on #21
@HellandB Just tried the example flow which basically works for me. Which node-red version do you have? Please make sure you have node-red 1.7.x installed, Please also let me know which nodejs version do you use.

I have slightly updated the example flow:
[code]

[2017-07-31 20:47] rspaargaren commented on #21
Hi I have got a full color bulb and I am now testing with iphone homekit plugin as well for Node-red. Would it be possible to input the (HSB) Hue, Saturation, Brightness as color input to the milight?

[2017-08-01 00:55] mwittig commented on #21
@rspaargaren Not exactly. You can use RGB, HSL or CSS colors. Please find an example for HSL below.

[code]

[2017-08-01 21:18] rspaargaren commented on #21
Hi thank for the example got the following function now to store the output and convert:
`if (msg.payload.hasOwnProperty("Saturation")) {
    flow.set("sat", Number(msg.payload.Saturation));
}
if (msg.payload.hasOwnProperty("Hue")) {
    flow.set("hue", Number(msg.payload.Hue));
}
if (msg.payload.hasOwnProperty("Brightness")) {
    flow.set("bri", Number(msg.payload.Brightness));
}

var Hue = flow

[2017-08-02 09:27] mwittig commented on #21
Hi, @rspaargaren

It looks like your calc is discussed here <https://stackoverflow.com/questions/3423214/convert-hsb-hsv-color-to-hsl> amongst other approaches.  There is comment that the IsNan check is not required, but that's not true. So I think your code should work as expected.

See also "jsBin Demo and the calc" which is the highest rated solution and provides a different approach.

as part

[2017-08-03 19:37] rspaargaren commented on #21
Hi I have manually updated the plugin and I can confirm it is working very well!
I must say the delay between my the input on my iPhone and the output at the lamp is considerable but that has nothing to do with the color.

[2017-08-04 06:22] mwittig commented on #21
Great! Regarding the delay I guess that is to homekit or the homekit plugin. The milight plugin should not add more than 200ms to that. You can always test that by adding a manual trigger node which send a commands string to the Milight node.

[2017-08-04 07:09] rspaargaren commented on #21
Part of the delay is caused that the output of the homekit app is quite severe. In the case that it has single messages for Hue, saturation and brightness. So in case you change you already have 2 x 200 ms. And if you move your finger that a number of changes so it gets in a que. Maybe the output of the hap plugin should be reviewed to optimize and get a single object.

I have also asked a pull re

[2017-08-04 11:15] mwittig commented on #21
May be you mitigate that by debouncing calls as part of the flow chain. There is a "debounce" node which works well. I have been using that as part of my experiments. See https://flows.nodered.org/node/node-red-contrib-debounce

Yes that would be nice. Maybe you can coin that into a feature request on the plugin project.

[2017-08-04 11:37] rspaargaren commented on #21
Hi I was already looking for such a feature in standard toolset but this looks like a good node!

Yes I will as for a feature request, or try to create a pull request...

[2017-09-05 10:55] bartbutenaers commented on #21
Marcus,

my collegue Robert just came by to tell me that he has tested your new version, and it _everything_ seems to be working fine now.   So thanks a lot for all the effort and free time you have spend to this issue !!

Kind regards,
Bart

[2017-09-05 19:47] mwittig commented on #21
Bart,

Sounds great! Thanks for the feedback.

Unfortunately there is still no new npm package release even though a maintainer stepped in to help with the project. However, he has no access to npmjs and the author is not responding to e-mails. For this reason, I'll publish the plugin as a new project soon. I'll keep you posted on this.

Kind Regards
marcus

[2017-09-08 10:12] unm4sk1g opened #28 "Getting the current state of a lightbulb?"
Hello. I'm wondering is it possible to get the current state of individiual zone or lightbulb (like is it on, off, what color it has at the moment etc.) ?

[2017-09-08 14:54] mwittig commented on #28
Hi, thanks for using node-milight-promise. Unfortunately, the Milight protocols (v4 & v6) do not provide for querying the bulb state. Hopefully, this will be provided with a future version of the Milight protocol. The solution for Apps is to either maintain the last known state (i.e. the last switch command executed by the App) or to design the App "stateless" (i.e. having buttons for "on" and "of

[2017-09-08 15:22] unm4sk1g commented on #28
Can I rely on last command state? How reliable is the current protocol, any hiccups?

[2017-09-09 13:45] mwittig commented on #28
Generally, it is not reliable. You always need to account that the light may have been swicthed by another control device or by a physical light switch (which will turn the bulb to on, always). The Milight protocols prior to v6 are not reliable and lossy. v6 is a bit better as it wifi controller will confirm received commands, however, I believe there is no confirmation for link between the wifi c

[2017-09-11 07:15] unm4sk1g commented on #28
I'll just send default state commands on start, and then rely on last state.

[2017-09-11 18:40] mwittig commented on #28
OK, sound reasonable to me.

I am closing this ticket now. Please re-open if you wish to follow up on the matter

[2017-09-11 18:40] #28 closed, assigned to nobody

[2017-10-09 11:58] mwittig opened #30 "Add support for 8-zone remotes"
8-zone remotes appear to have a distinct command set. They are supported with newer makes of the ibox2 controller. See also https://github.com/dotsam/homebridge-milight/issues/39

[2017-10-11 11:31] fghekman commented on #30
Would be great if you manage to add support for 8-zones. When you need any additional information or you want me to test it just let me know.

[2017-10-11 11:56] mwittig commented on #30
@fghekman Just to give a brief update: I have analyzed a few packet capture files I have created including the datagrams sent by the Milight App with the 8-zone controller. While the general command layout appears to be the same as for the four channel controller (no suprise here) the command bytes for the target differ. I think I can quickly transfer the result into a first test application - may

[2017-10-11 17:37] mwittig commented on #30
@fghekman Do you have access to some Linux system for testing or do you need instructions for Windows?

[2017-10-11 20:54] fghekman commented on #30
Sounds indeed as a good starting point to just test the on/off state of the lights.

Linux please. I have my homebridge config running on a Raspberry PI right now. I do have a spare PI so I could set it up as a test environment for this purpose.

[2017-10-12 08:35] mwittig commented on #30
@fghekman ok, great. here is a short recipe that should get you going.

[code]

If you managed to execute the example program the lights should go on and off 4 times. If this is not the case you may need to edit `example-8zone-v6.js` with a text editor, e.g. vim or nano, to set the IP-address assigned to ibox2 wifi controller.

[2017-10-12 09:08] sanderkoenders opened #31 "Queue"
I've been inspecting the code and I think I figured out how it works. The `_synchronize` function is building up some kind of queue with promises right? Why do you use this instead of creating an actual queue that s fetches commands when the previous one is done? This would make the code way more readable.

So something like:
[code]

Fiddle here: https://jsfiddle.net/wgogdb12/

[2017-10-12 10:24] mwittig commented on #31
Hi. Thank you very much for looking into node-milight-promise and your feedback!

The basic rationale behind using synchronized promises rather than a message queue is to have more flexibility with respect to setting the synchronization points in the code. Actually, `_synchronize` is used for the socket initialialization (am I ready to send?), the sendCommand, the Socket Closure (close if there ar

[2017-10-15 12:31] fghekman commented on #30
@mwittig Executed your code today and the lights did respond as you described. The 8 lights which are assigned to my iBox2 and the "virtual" 8-zone remote in the app did go on and off 4 times. I did test it with an other iBox2 and also these 8 lights did respond to the code. Seems like you did manage to track down the matching code for the target. (Did not need to set the IP-address in the .js fil

[2017-10-16 07:09] mwittig commented on #30
@fghekman That's great news. Thanks for testing! Next step for me is to add more command codes to the library and to extend the example program code accordingly. I'll get back to you in a few days for another tests.

Once that's done I'll publish a new release and then, we can kindly ask @dotsam to integrate the new release into homebridge-milight which should only require minimal effort.

The exa

[2017-10-19 21:37] derzeitlose opened #32 "Second bridge doesn't work"
First Limitless LED bridge ibox2 works like a charm. Yesterday I added a second ibox2 bridge - nothing.

my config.json:

[code]

homebridge DEBUG:
[code]

[2017-10-19 22:23] derzeitlose commented on #32
Found a solution:
Had to add Port 5987 for the second bridge in config.jason
But both milight bridges set to port 8899 in the bridge web interface

[2017-10-19 22:51] mwittig commented on #32
I am confused. You said you have two ibox2 bridges. However, you did not set the protocol version to "v6" for the 2nd bridge as part of your json configuration file. If you do so, it should not be required to set the port.

[code]

[2017-10-19 22:55] mwittig opened #33 "Refactoring"
* modernize the code, use  ES6
* consider using a queue - this may help to simplify the code, see #31

[2017-10-19 22:56] derzeitlose commented on #32
And now again, after reboot the rasbery
Unhandled rejection Error: no response timeout

[2017-10-19 22:57] mwittig commented on #31
I am closing this now as the question has been answered. I'll revisit the matter at a later stage as part of the refactoring work

[2017-10-19 22:57] #31 closed, assigned to nobody

[2017-10-19 23:08] derzeitlose commented on #32
If I set version v6 - both Ports automatically set to 5987 - fine.
But after reboot, the response time out error is back again.

[code]

Ok, here are my config.json
[code]

[2017-10-19 23:58] derzeitlose commented on #32
OK. Full stop. After testing, try and error I found the reason for the error. Both ibox2 bridges are identical - did this in web configuration. Static IP, Changed from TCP to UDP. But the new ibox2 bridge, which I installed yesterday, is going in standby after a short period of time and also shut down network connection. BAM! ... no response ... Wake up ist only possible with iPhone App "Mi-Light"

[2017-10-20 18:47] mwittig commented on #32
Oh, I haven't see that before. Why should it go in stand-by?! These device are designed to be always on.

What do you do to wake up the iBox with the App?

[2017-10-27 19:03] derzeitlose commented on #32
After ca. 20min the bridge is going offline until I start the app, then its possible to ping the bridge und open the web gui. I'll send the bridge back and try to get a new one. I think the bridge is faulty and have a bug.

[2017-10-27 19:07] #32 closed, assigned to nobody

[2017-11-01 17:39] chriscartin opened #34 "Raspberry pi"
Really wanted to run this on the pi.

Getting the error below, guessing its because the pi node version is so old (and cant be updated).

Any work around / fix?

Unhandled rejection TypeError: Object function Array() { [native code] } has no method 'from'
    at /home/promise/node_modules/node-milight-promise/src/milight-v6-mixin.js:134:42

[2017-11-01 20:18] fghekman commented on #30
@mwittig Just curious what the status is at the moment. Did you had the chance to dive into the library already? Please let me know if I can be of any help.

[2017-11-02 14:08] mwittig commented on #30
@fghekman Sorry for the delay. I had a few days off. Will look into this asap.

[2017-11-02 14:19] mwittig commented on #34
@chriscartin Which version of Node.js do you run? You can just type `node --version` to find out. Note, only version 4.x and higher is supported by node-milight-promise.

If you don't use Node.js for other applications my advice is to update your Node.js setup. My advice is NOT to use the Raspbian apt package for nodejs as this will be most likely outdated as you said. Remove the package and insta

[2017-11-02 14:44] chriscartin commented on #34
The issue is that the pi, by default comes with version v0.10.26. I eventually found a way to install a 'proper' version of node.js but that was only version 6. It seems that's the highest version supported by the ARM6 processor in my Pi so I gave up.

[2017-11-02 16:54] mwittig commented on #34
Well, I think the current node.js releases are still supported for ARM6. Please check https://nodejs.org/download/release/v8.9.0/ for available builds of the current LTS release. Later on I will also add further details to get you going.

EDIT: Suggested Setup
* Make sure node.js is uninstalled and all node processes have been terminated
* Download `node-v8.9.0-linux-armv6l.tar.gz` , e.g. using `c

[2017-11-04 00:13] mwittig commented on #34
No follow up. Closing this now

[2017-11-04 00:13] #34 closed, assigned to nobody

[2017-11-23 07:49] fghekman commented on #30
@mwittig Any news? Or are you still very busy at the moment.

[2017-11-24 23:16] mwittig commented on #30
Still busy, unfortunately. I have made some progress though and I'll push updates asap

[2017-12-13 18:23] markg85 opened #35 "Checksum calculation seems wrong for connection payload"
Hi,

The connection payload doesn't have the checksum (it's commented out because the 'calcChecksum' function is doing it). Or is it? ;)
calcChecksum does calculate a checksum, but only for the last 11 bytes. The resulting checksum is not 0x1E for the connection.

I can make a pull request for you, but you might be easier off fixing it the way you like it. What i did:
[code]

And in calcChecksum i

[2017-12-14 16:52] mwittig commented on #35
At a first glance I don't think it is checksum issue, unless the new firmware shipped with recent iBox2 makes has changed the way checksum calculation is performed.

Another source of error might be the controller model selected via the mobile app. E.g. If you pair your bulbs with the 8-channel controller via the App, the control via node-milight-promise won't work as it is based on the command se

[2017-12-14 19:08] markg85 opened #36 "Missing brightness function for CCT (WhiteCommand)"
Hi,

Just curious where the brightness function is for the WhiteCommand object, it's not there.
I did notice that CCT bulbs in the milight app only do have a brightness up/down (not a slider) and that up/down is in WhiteCommand. Does this mean there simply is no brightness command with a given percentage for those bulbs?

[2017-12-14 19:42] mwittig commented on #36
For CCT brightness cannot be set directly to a relative value, e.g 50%, but you can increase or decrease the brightness (see also [examples folder](https://github.com/mwittig/node-milight-promise/tree/master/examples) and the code snippet below. Apart from this it is possible to switch to maximum brightness (`light.maxBright()`)

[code]

[2017-12-15 10:32] mwittig commented on #35
The protocol sketch described in Section 3 at http://www.limitlessled.com/dev/ is suggesting that there is no checksum for the "start session":
[code]
Octets given in brackets usually denote a variable, but there is no variable defined in this context. Actually, I found the last the 5 bytes (including the stop byte 0x1E) aren't handled by the the bridge at all! Basically I am using the checksum he

[2017-12-15 10:56] markg85 commented on #35
Hi,

What you described seems logical to me.
However, if things don't work (which is very possible with this kind of stuff) the first thing you start to look into are the packets being send.
If another one would follow the same route, the other person would also figure out the checksum being wrong (even though it doesn't matter). I think it's best to stick to what the limitlessled api tells and fo

[2017-12-15 15:11] mwittig commented on #35
The bulbs you have don't appear to be RGBWW but the new bulbs which add saturation control.
Try using the "fullColor" command set instead of "rwbw". This should work as expected.

[2017-12-15 15:38] markg85 commented on #35
Ahh right, my mistake there.
I thought i had RGBWW light.. I do, but not in the same bulb / led strips ;)

It's RGBW for both bulbs and strips.
And one other strip with CW/WW

[2017-12-15 16:09] markg85 opened #37 "Changing light status works, but slowly starts to respond less till i restart the app"
Hi,

I think i need to clarify this a little.
I'm making a MiLight hub **proxy** so that it can be used with Samsung SmartThings.

The code i have right now:
**note**: heavily work in progress! I'm just hacking it together at the moment to get things working.
[code]

That is the whole app at the moment. It's going to be on github in this repository sometime soon: https://github.com/markg85/MiLight

[2017-12-16 12:22] mwittig commented on #37
Regarding issue 1), this may be a session timeout indeed. Perhaps, the current iBox2 uses a shorter session timeout than the older makes. Session keep-alive would certainly solve the issue.

One thing you can try:
There is hard coded time for sessions, i.e. session will be reset if not used for 300 seconds. You can change that to a more aggressive timing, say 30 seconds. For this you need to chang

[2017-12-16 12:26] mwittig opened #38 "Make session inactivity timeout configurable"
Apparently the current iBox2 make uses a shorter session timeout than previous makes - see also #37

Thus, the session inactivity timer should be configurable and the default should be set to a smaller value.
https://github.com/mwittig/node-milight-promise/blob/master/src/milight-v6-mixin.js#L67

Moreover, consider implementing keep-alive, issue #15

[2017-12-16 12:54] mwittig commented on #36
For your application you can emulate setting the dim level, by calling `maxBright` followed by a number of `brightDown` calls to match the desired level.

According to my findings there are 19 different dimming steps for CCTs supported by the milight controller. The number of `brightDown` calls required can be calculated as follows:

`Round((100 - level) / 20) where level is a value in the range 0

[2017-12-16 13:10] markg85 commented on #37
Hi Marcus,

I've just set that at 30 seconds (30000) as advised. However, i'm a bit skeptical if this will work.
After a couple of hours (before changing it) the commands simply didn't work anymore. Here's a debug output of that time.

[code]

As you can see, right after a reconnect (the 27 bytes buffer) the commands still don't work at all.
I really have to turn off the app and start it up again.

[2017-12-16 13:14] markg85 commented on #15
You can find an 'example' implementation of keep-alive here as well: https://github.com/JasperG/bilight/blob/master/bilight/src/main/java/com/jaspergoes/bilight/milight/Controller.java#L774

That is from the 'bilight' app

[2017-12-16 22:47] markg85 commented on #37
To get back on the 30 second part. It works!
I've had that since the last post (for about 10 hours now) and no problems at all.

The fact that it works doesn't mean that it's the right fix in this case ;)
I think the keep alive packets are the solution. What i think happens now is probably a connection every 30 seconds so the device probably never went to sleep (neither will it do with keep alive)

[2017-12-17 00:21] mwittig commented on #37
Sounds great.

Note, there is no connection as the protocol is based on UDP. "Session start" and "Session keep-alive" are just datagrams sent to the bridge. I doubt the bridge can handle keep-alive datagrams in sleep mode. Most likely there is no sleep mode at all. Unfortunately, I don't have a USB power meter to check that.

[2017-12-17 00:22] mwittig commented on #37
Can you please do me a favor and check the same with 150 secs (150000)?

[2017-12-17 00:29] markg85 commented on #37
Sure, done.
I will report back in about 12 hours or so :)

[2017-12-17 13:00] markg85 commented on #37
150 seconds is a no-go.
It works for - say - the first 10 minutes (i didn't measure this!) or so, after that nothing works anymore.

I'm back to 30 seconds as that seems to work really well.

[2017-12-17 13:06] mwittig commented on #37
Thanks for the update! I'll change the default value to 30000 then and I'll look into implementing keep-alive soon which is fairly easy to do.

[2017-12-18 00:03] mwittig commented on #36
I am closing this now. Please re-open if you wish to follow up.

[2017-12-18 00:03] #36 closed, assigned to nobody

[2017-12-18 03:16] pauleec commented on #30
@mwittig I have an 8-Zone setup here available I can test on if you need another tester. It would be good to see this enhancement in production as all the new RGB-CCT lights made after August now support operation in 8-zone configurations. Let me know how I can get involved and help.

[2017-12-20 19:49] mwittig commented on #30
@pauleec Thank you very much for the kind offer to help with testing!

@pauleec & @fghekman
The required command sequences for 8-zone CCT color, white mode, brightness and effect mode control have landed on master which can be installed as follows:

[code]
If you managed to execute the example program the lights should go on and off followed by cycling the color. Then it should switch to white mod

[2017-12-23 22:37] pauleec commented on #30
@mwittig I tested your example as detailed and can confirm all 8 zones lights performed as expected. Thanks!

[2017-12-23 23:23] mwittig commented on #30
@pauleec Great. Thank you very much for testing. We may need to follow up on this to check the color mapping to make sure RGB or HSV are properly to the milight color circle. I'll publish a new release anyway asap

[2017-12-24 17:19] fghekman commented on #30
@mwittig Thank you for this new test update. I've tested the software also and can confirm it is operating as expected. Could not test it earlier as I had some days of and not near my house.
Looking forward to your next test release.

@pauleec Thank you for joining and testing this software also.

[2017-12-27 14:08] mwittig commented on #38
Released node-milight-promise@0.3.0

[2017-12-27 14:08] #38 closed, assigned to nobody

[2017-12-27 14:09] mwittig commented on #30
Released node-milight-promise@0.3.0. Thanks again for your testing support.

[2017-12-27 14:31] mwittig commented on #30
I am closing this now. Please re-open if you find problem with some of the control commands, e.g. color rendition

[2017-12-27 14:31] #30 closed, assigned to nobody

[2017-12-27 14:38] mwittig commented on #35
I am closing this now. Please open a new issue if you have further questions

[2017-12-27 14:38] #35 closed, assigned to nobody

[2018-01-03 17:45] pauleec commented on #26
@mwittig Hi Marcus, Happy New Year! I've updated all my node/homebridge/milight/alexa components and am getting this error

Unhandled rejection Error: no response timeout
    at Timeout._onTimeout (/usr/local/lib/node_modules/homebridge-milight/node_modules/node-milight-promise/src/milight-v6-mixin.js:125:26)
    at ontimeout (timers.js:478:11)
    at tryOnTimeout (timers.js:302:5)
    at Timer.li

[2018-01-03 22:04] mwittig commented on #26
@pauleec Happy new year!

The "no response timeout" error is not related and it is not resolved by implementing the keep-alive generally. Regarding the state of homebrige integration see https://github.com/dotsam/homebridge-milight/issues/39

[2018-01-19 14:15] i0i0-hh opened #40 "Seeking help"
Hi, I was wondering if I could seek some help with the node-milight-promise.

I have followed the guide (https://community.smartthings.com/t/milights-limitless-led-v6-habridge-node-google-home/95490/6) and managed to install NodeJS & HA-Bridge but encountered problem with node-milight-promise. Followings are the steps I took;

0. Setting up rasberry pie 3B, installed NodeJS & HA-Bridge.
    "node

[2018-01-30 17:19] mwittig commented on #40
Sorry for the delay in reply! Did you manage to solve the issue, meanwhile. If not, I am happy to look into this, but it'll take some time before I can get back to you.

[2018-01-31 12:23] i0i0-hh commented on #40
I have made a couple of attempt without luck. I think my knowledge on raspberrypie and nodes are too limited to set it up. (Any setup guide or tutorial would be much helpful).

I have found Milights-bridge which based on your nodes, and it has been successfully implemented. Although web interface was immensely helpful to test out the initial connection, I found HA-bridge commands are not as straig

[2018-02-25 13:30] fzmemon commented on #26
Any updates on this bug? Seems this pops up when you send a few commands in quick succession to the same zone. The execution just hangs and if you kill the process and start again, it doesnt help either. Only after passage of certain amount of time, the script works again.

This is the code which I am using for turning off the lights. The turnOn code is similar:
[code]
Please let me know if I am d

[2018-02-27 16:08] mwittig commented on #26
Well, yes and no. *Yes*, as I analyzed the "unhandled rejection" and found this is design glitch rather than a bug. The problem is that different to earlier the sendCommands() function now returns a promise which needs to be handled.  *No*, as the underlying problem is not fully analysed. As you say the problem occurs in particular if commands are send in quick succession to the same zone. That's

[2018-03-04 17:52] fzmemon commented on #26
Hi Markus,
I have some updates. I think this might not even be a bug at all. I found out that this comes up if you have several connections open to the milight ibox.

In my case, this happened because I was not handling the promises correctly in wrapper script which I have written around milight-promise. This caused the node processes to hang which in turn probably left the connections to the ibox

[2018-03-06 07:20] mwittig opened #44 "Add TCP-Support for v6.0"
See https://github.com/dotsam/homebridge-milight/issues/51

[2018-03-09 11:28] CliffS commented on #26
I am seeing this too.  I have only one routine talking to the controller and all calls are wrapped in a `.then()` followed by a `.catch()`.  I use `await` inside the `.then()` but this should throw and be caught by the `.catch()` if there's an error.

What I'm seeing is
[code]
Does this help at all?

Incidentally, is there any way to get the current state from the controller?

[2018-03-11 23:34] mwittig commented on #26
@fzmemon Thanks for the update!

@CliffS Do you have your code on github?

[2018-03-12 11:22] CliffS commented on #26
The code is part of a private repository.  I've posted the relevant module (the only one that calls milight) to a [gist](https://gist.github.com/CliffS/ce8ded8b447a04be8dd6f139bf7224b8).  Is that sufficient?

It's in coffeescript.  Let me know if you need the javascript version.

[Edit] Actually, it probably isn't enough because you need to see that each promise has a `.catch()`.  Should I simply

[2018-03-21 15:53] mwittig commented on #26
Thanks you very much for providing me with code samples and your efforts in investigating the problem!

_Minor update_: I spent some time to further analyze the problem around the "unhandled exception" and have a solution for it which I'll push later. This solves the "unhandled exception", however, it does not solve the "request timeout problem". This occurs when the WiFi controller did not ack a

[2018-03-22 15:09] mwittig commented on #26
@CliffS Thanks again for your efforts in investigating the "unhandled exception" problem and your code work to fix the problem. I'll write a summary of the changes in more detail asap.

[2018-04-30 14:32] pauleec opened #47 "node-milight-promise not controlling bridge"
@mwittig Hi Marcus, I have spent a few nights trying to isolate a problem I am experiencing setting up control between the node-milight-promise module and a v6 iBox2 Milight Lamp/Bridge. The discovery script returns the correct information re. the v6 version and its ip but other than that nothing seems to be working - Ive tried each example command.

Can you confirm if there needs to be anything s

[2018-04-30 14:48] pauleec commented on #47
@mwittig Just to add to the last comment, I am using @dotsam 's homebridge-milight plugin. Homebridge is launching and with the debug option switched on I get the following in the console:

[code]

So there seems to be communication between the homebridge-milight plugin and the iBox2 bridge - but commands sent are received by the iBox but are ignored...? Whats going on?

[2018-05-03 14:39] pauleec commented on #47
Fixed it!

after lots of head scratching the issue finally came down to my friend who had set a password on the milight bridge. resetting back to the default (0000) and the devices all started working! If there is a tip in the FAQ I wish I had seen this earlier :) otherwise there would certainly be lots of time saved having one on this!

[2018-05-03 14:39] #47 closed, assigned to nobody

[2018-05-04 07:55] mwittig commented on #47
Sorry for delay in reply to your ticket. I have been very busy the last couple of days. I am glad you have managed solve the problem yourself! Actually, I have not been aware about this password issue and I certainly will make a troubleshooting note about that.

How did you set the password the password and what it is exactly about? With my iBox1 there is no password for the bridge other than the

[2018-05-04 10:46] greenkeeper[bot] opened #48 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/mwittig/node-milight-promise/compare/master...mwittig:greenkeeper%2Fupdate

[2018-05-07 08:22] mwittig commented on #47
@pauleec I am still puzzled about this password you reset to 0000. What is it about exactly? As said in my previous post with my iBox1 there is no password for the bridge other than the user account for the web interface and the WiFi credentials.  May be tghe password is related to the homebridge application you're using?

[2018-05-26 01:25] mwittig commented on #40
I have looked into the matter, but I am not that familiar with HA-Bridge. Please have a look at https://github.com/dotsam/homebridge-milight/issues

[2018-05-26 01:25] #40 closed, assigned to nobody

[2018-05-26 01:28] mwittig commented on #48
Added

[2018-05-26 01:28] #48 closed, assigned to nobody

[2018-05-26 12:39] fzmemon commented on #26
@mwittig I think you are right in saying that the problem seems to be congestion related.

I have stitched Alexa up with your scripts and ha-bridge in between. In Alexa I have defined some scenes and each scene triggers multiple zones in parallel. For example, the scene "Good night" turns off all the zones. Whenever I trigger this scene, 4 node instances are started and every now and then at least

[2018-10-18 20:33] gemmi-arts opened #52 "Support Question"
Hello,

Does this module support the following controller?

<img width="1136" alt="zrzut ekranu 2018-10-18 o 22 29 37" src="https://user-images.githubusercontent.com/8410173/47182396-9b722580-d325-11e8-909f-b562fb8c94ea.png">

[2018-10-20 00:02] mwittig commented on #52
Most likely it does, but I can't tell you for sure as I don't have this device at hand for testing. Note, you'll also need a Milight  Wifi Box to use the controller along with node-milight-promise (or generally to be able to control it with an Internet device like a Smartphone etc). Please let me know about your findings in case you'll give this a try. Thanks

[2018-10-23 12:31] mwittig commented on #52
Btw, do you really want to use an RGB controller?

My recommendation is to use a RGBW controller. This is known to work with `node-milight-promise`  and you can use either RGBW or RGB stripes. The RGB+CCT controller is another option to look at. The price difference for these controller is marginal.

[2018-10-29 03:05] niv-d opened #53 "How to change bulb temp?"
Is it possible to change the bulb tempature, I tried whiteTempature but that doesn't seem to work.

[2018-10-29 10:50] mwittig commented on #52
I am closing this now. Please re-open if you wish to follow up on this

[2018-10-29 10:50] #52 closed, assigned to nobody

[2018-10-29 10:52] mwittig commented on #53
Which type of bulb do you have? Are you able to control with "fullColor" commands?

[2018-10-29 12:09] niv-d commented on #53
The newest bulbs, with the light hub. Yes I am using the full color command

[2018-10-29 13:28] niv-d commented on #53
Nevermind, was throwing invalid values. My bad.

[2018-10-29 13:28] #53 closed, assigned to nobody

[2018-10-29 13:31] niv-d opened #54 "Possible to ignore previous commands and run last command first?"
I am using this with a rest api and sometimes the color lags way behind what the current color is, I assume that's a result of the promise. Is there a way to cancel previous promises and make the current a priority?

[2018-10-29 13:35] niv-d commented on #54
Nevermind. Just changed delay before commands...

[2018-10-29 13:35] #54 closed, assigned to nobody

[2018-11-24 13:29] theaceofthespade opened #55 "Inconsistent colors across commands"
First of all, the library is great, thanks so much!

I've been playing around with the different command sets (fullcolor vs fullcolor8zone specifically) and have noticed some inconsistencies in the coloring. On fullcolor, hue 0 is about 10 points closer to blue than it's supposed to be, however on fullColor8Zone, hue 42 (yellow) is about 10 points too green.  I've tried on several models of bulbs.

[2018-11-28 20:48] mwittig commented on #55
Thank your very much for your positive feedback and issue report.

The problem is the vendor has implemented varying color circles with different control models.  I have tried to fix that for RGBWW versus full color, but I haven't done this for 8-zone as I am not able to test it.  I'll try to setup a test branch with 8-zone fixture based on your findings. I'll keep you posted.

[2018-11-29 01:59] theaceofthespade commented on #55
I appreciate it!  For the other ones, was it something you were able to test programatically, or did you have to eyeball the color differences?

[2018-12-09 22:05] pa-re opened #56 "On/Off does not work with RGBW One Zone Dimmer"
I've got a version of the milight RGBW dimmers that let's me control RGB and W on the LED strips at the same time. This dimmer and remote combination does only support one zone as also depicted in the milight app.

I got it to work in the ioBroker.milight adapter with most of the functionality, except On/Off which would be quite handy for obvious reasons. I tried to figure out the necessary comman

[2018-12-21 11:39] derrinbeek opened #58 "How can I set a color value?"
how can i set the color to blue / red etc i can't find it
im using your NPM package for javascript

[2019-01-03 10:57] kekec777 opened #59 "Need help on how to use the legacy bridge with command2"
Hallo everyone

Im quite new to this and i need some help

I have a old milight bridge and it seems i cannnot get this to work with just installing and running node server.js

so i tried to make a test.js with this inside:

[code]
and this is working :) - hurray (the led's changing colors)
So how can i include this instead ???

Please help a newbie :)

thanks in advise

[2019-01-03 16:23] mwittig commented on #59
Hi, thanks for using node-milight-promise!

I am not sure what do you mean by running ```node server.js```! Is ```server.js``` part of some source code you have written or do you use some other application such as homebridge-milight which incorporates  node-milight-promise?

Please note, node-milight-promise provides an API developers can use to send Milight commands as part of their application.

[2019-01-03 16:27] kekec777 commented on #59
Thanks for a quick reply and for all your work do far :)
I'm using KevinVR
https://github.com/KevinVR/milights-bridge

My installation so far
Git clone KevinVR
Then into folder node_modules and then I run npm install node-miilight-promise

EDIT:
so im running server.js from milights-bridge (found a guide where i can connect habridge / then google home)

[2019-01-03 16:46] mwittig commented on #58
Hi, thanks for using node-milight-promise!

The command library provides the `rgb()` function to set the RGB color.  For RGBW and full color bulbs the function expects four numeric parameters. The first parameter sets the Milight zone, while the latter parameters provide the color value for three RGB channels red, green, and blue. Each RGB channel value can range from `0..255`. See example below.

[2019-01-03 16:55] mwittig commented on #56
Sorry for the delay in reply. I can have a look into this now if you are still working on this. Did you make progress on this since you opened this issue?

The RGBW remote you are trying to use is currently not supported, but I am happy to look into this. So far, I only have support for the single channel RGB controller.

[2019-01-03 21:38] pa-re commented on #56
Dear Mr Wittig,

thank you for the response and the offer to look into it. I am still very interested in it as my work on a solution and workarounds failed so far. I got some more information, but always hit a roadblock.

I can confirm that your implementation is the only one that successfully creates a "link" and thus works (mostly) with the FUT028. The content of "commandsV6.js" after
// RGBWW c

[2019-01-03 23:06] derrinbeek commented on #58
So if i want red i need to do this

[code]

[2019-01-04 01:08] mwittig commented on #58
Yes, that's it!

As said in my previous post you may want to look into the [color](https://www.npmjs.com/package/color) npm package which provides an easy way of mapping CSS color strings to RGB values. See the following snippet, for example:

[code]

[2019-01-04 20:18] mwittig commented on #59
Did you also install the other dependencies? Generally, it should be ok to simply execute `npm install` with further parameters as npm will pick-up the dependencies from the package descriptor. The following works for me

[code]

`milights-bridge` works for me with the new v6 controller, however it does work with v4! Having investigated the source code I can tell you that the code of `milights-bri

[2019-01-05 01:24] kekec777 commented on #59
Hmm im not the biggest javascripter , but i really want this to work :)
So please advise me to correct this :) 👍

[2019-01-09 19:46] mwittig commented on #58
Setting this to closed for now. Please re-open if you wish to follow up on this

[2019-01-10 16:27] derrinbeek commented on #58
How can i change the color of i box i tried many things

    light.sendCommands(commands.fullColor.bridge.rgb(zone, color.red(), color.green(), color.blue()));
    light.sendCommands(commands.bridge.fullColor.rgb(zone, color.red(), color.green(), color.blue()));

and more i can't find it

Regards
Derrin616

[2019-01-11 09:54] mwittig commented on #58
See the examples provided in the [examples directory](https://github.com/mwittig/node-milight-promise/tree/master/examples).  Now the question is which bulb type you have.
* If you have a RGB+CCT bulb which provides for changing the color/white temperature (white color from warm white to cold white) have a look at example-full-colour.js
* If you a RGBWW bulb which does not provide for changing the

[2019-01-11 11:08] derrinbeek commented on #58
I cant find how change rhe color of the bridge in the fullcolor.js

[2019-01-11 13:34] mwittig commented on #58
If you start with the exampole `example-full-colour.js` the command is as following below. I am not sure where the "bridge" component comes from you have included in your earlier post.

[code]

[2019-01-11 15:01] derrinbeek commented on #58
i can control the color of my led strip noiw but i want to control the color of my bridge / ibox i hope you understand me now XD

this ibox http://prntscr.com/m5vqif

[2019-01-11 17:24] mwittig commented on #58
Ah, ok. Sorry, for the misunderstanding. To control the bridge light color, please have a look at the example `example-bridge-v6.js`. The color command is as follows:

[code]

[2019-01-12 17:46] mwittig commented on #58
Setting this to closed for now. Please re-open if you wish to follow up on this

[2019-01-13 11:20] Steiger04 commented on #26
@mwittig Gibt es für das Problem schon eine Lösung? Bei mir hilft auch nur den Router neu zu starten, dann ist das Antwortverhalten wieder eine Zeit lang ok. Mit dem Problem ist es so gut wie unmöglich einen Slider zu implementieren, da durch die Verzögerungen die Farbe ständig "nachläuft".

[2019-01-13 20:53] derrinbeek commented on #58
Hello sorry for opening it again XD it works fine now but the color does not work as i want

I used the color npm package and i made a program in vb.net to control the milight

if i change the ibox color to red my program will write the hex color into a json file

this works fine for my ledstrips but if i change the color to red in my program the ibox color will be green

super weird do you have a

[2019-01-15 12:22] mwittig commented on #58
Omg, sometimes I am really stupid. Sorry about that.

With the bridge light there is no zone parameter! If you remove it from the call it'll work as expected.
I have corrected my previous post, accordingly.

[code]

[2019-01-15 15:04] derrinbeek commented on #58
Haha no problem thanks for the help i hope it works

[2019-01-15 17:33] derrinbeek commented on #58
It works fine

Conclusion:

[code]

[2019-01-15 17:34] #58 closed, assigned to nobody

[2019-01-15 20:09] agoralive commented on #59
I am in the same situation as kekec777, is there a way to type a command which allows me to control my bulbs on zone 5 in an 8 zone remote?

[2019-01-21 09:40] agoralive opened #60 "Can somebody help turn zone 5 on/off?"
Can somebody give me an example on how I turn on zone 5 using this package?

I know this is not "just" a command line, but is there a "simple" way to just do on/off functions?

I am trying to include 8-zone support in Node-Red but that seems like it's impossible, as only 4 zones are supported with all available packages in the "Palette/Install" section.

[2019-01-22 23:58] mwittig commented on #60
Thanks for chasing me. Please have a look at the latest version 1.0.8 of node-red-contrib-milight-2

It adds support for the 8-zone controller for full color bulbs.

See also https://github.com/mwittig/node-red-contrib-milight

[2019-01-23 00:00] mwittig commented on #60
Btw, a general programming example is given here:
https://github.com/mwittig/node-milight-promise/blob/master/examples/example-8zone-v6.js

[2019-01-23 00:00] #60 closed, assigned to nobody

[2019-01-23 12:47] mwittig commented on #56
Patrick, I am not aware of a Wireshark dissector for the Milight protocol. However, as the UDB datagrams exchanged by milight are not encrypted it is possible to determine the command sequences. Possibly, filtering should be used, i.e. UDP to traffic sent/targeted at the iBox IP on port 5987.

Questions:

- Are you able to control ALL functions including on/off using the Milght App with the contro

[2019-01-26 20:54] pa-re commented on #56
Hi Marcus,

I do have some wireshark records for the on/off from the app. Is that helpful to you?

To your questions:

- Yes, the app let's me select that remote and it works with all functions of the FUT028. That's the wireshark records I captured and could provide to you.
- You gave me a nice idea. I replaced the on/off commands in the JS file and tried all the ones I listed below. Unfortunately

[2019-01-27 12:10] pauleec commented on #56
Hi guys, I also have a number of these led strip drivers which were part of a kit which sold the remote and strip driver together. I tried to link the strip driver to an 8 and 4 zone remote which had been driving rgb-cct 8 zone leds.... and was unable to link or connect . This was the same when I attempted to pair with the Mi-Light bridge. I spoke to Futlight who informed me that the kit units wer

[2019-01-27 12:57] mwittig commented on #56
@pa-re Thank you very much for investigating this further. Meanwhile I amnged to sniff bits of the command set used by the single zone remote (fut027). For this purpose I have been using the packet capture feature which is bulit into my access router. The current master contains an experimental extension to the command set for single zone.

[code]

[2019-01-27 13:05] mwittig commented on #56
@pauleec I am not sure whether or not I understood your previous post correctly. Are you able to link and control your set with the Milight Smartphone App using the Single Zone remote?

- If yes, I can confirm it is a different command set and most likely it is not possible to link the bulbs/strip controllers with an 8-zone or 4-zone remote at all. It might be possible with the "Milight Bridge" pr

[2019-01-28 20:00] pa-re commented on #56
Hi Marcus,

seems you did it. I only had a couple of minutes to try out the example script you provided, but it switches the lights on and off successfully. I did not try any other functions, yet.

Best Regards,
Patrick

[2019-01-28 20:36] pa-re commented on #56
Hi Marcus,

turns out your script turns on all and any RGBWSingle light. Is there any way to only bind/link certain lights to the bridge?

Before the test I had only one strip linked to the bridge and to iobroker. IOBroker doesn't work anymore, but your script activates all lights. I do not know if this is still related to my original request or if I am misusing your tool in general.

Best Regards

[2019-01-29 10:07] mwittig commented on #56
@pa-re That's great news!

How does this behave when you control the lights with Milight Smartphone App? I assume it also turns on all lights right now. If so, try to unlink a light from the bridge as follows:
* turn of the light/strip controller for at least 3 seconds
* turn it on again and press unlink button of the Milight App
* as a feedback the light/led strip should blink now 5 times.

Btw,

[2019-01-29 10:26] fzmemon commented on #44
Hi Markus,
When do you plan to add the TCP support? I have noticed that the UDP traffic generated by the script somehow blocks all UDP communication after a few days. The only solution after that seems to be reboot of the router. I think these issues could be avoided by establishing TCP communication.
Is there some documentation how the TCP commands would work? I havn't been able to find any docum

[2019-01-29 10:56] mwittig commented on #44
I have never seen this kind of behaviour. What kind of router do you have? I guess it is bug of the router firmware.

No, this is not documented as far as I know. At least, there is no official doc publically available.

It may be a work-around in your case. On the other hand TCP might bring a bunch of new issues
* how to hhandle tcp connection in line with the bridge implementation
* if tcp conne

[2019-01-29 11:20] fzmemon commented on #44
I have this router: https://www.tp-link.com/en/products/details/cat-9_Archer-C50.html
May be it is a router issue but I am not so sure. This is the error that I see from the script when a reboot of the router becomes necessary:
31-12-2018 21:41:41: Error: no response timeout

[2019-02-10 23:47] pa-re commented on #56
Hi Marcus,

I followed your advice and you were right. I must have linked both strips to the bridge at some point in the past. Now on/off is working as expected.

On a slightly different subject: As far as I understand the milight protocol only implements exactly what the remotes can do and nothing more, right? So there's no way to set the white brightness to an exact level, but only do brighter/d

[2019-02-11 13:55] mwittig commented on #56
Hi Patrick,

thanks for your feedback. Please find my comments below.

Yes, that's right.

It depends on the type of remote control, really. The older controllers (single-zone controllers, controller for white bulbs) only support brightness up/down. The newer ones, like the 4-zone RGBW controller support brightness values. Apparently, it is only possible to link a bulb/leed controller to a specifi

[2019-02-11 19:25] Steiger04 opened #61 "Bitte single statt singe"
Kleiner Schreibfehler: Du hast überall singe statt single geschrieben.

[2019-02-11 20:43] mwittig commented on #61
Erledigt. Vielen Dank für den Hinweis!

[2019-02-11 20:43] #61 closed, assigned to nobody

[2019-02-13 10:06] mwittig commented on #56
I have decoded the missing bits for the single zone controller to change the color channels individually. Unfortunately, it only support up/down like it is the case for brightness control. I'll add this this to the command interface, though

[2019-03-05 16:19] mwittig commented on #56
Closing this now. Please re-open if you wish to follow-up

[2019-03-05 16:19] #56 closed, assigned to nobody

[2019-04-01 08:47] normen commented on #26
I have this error too, latest version of the homebridge plugin, only since I have a new v6 base station. Funny thing is that no light was switched when this error occurred:
[code]

[2019-04-04 11:39] mwittig opened #64 "Buffer() is deprecated"
LTS prompts the following deprecation warning

(node:17832) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

[2019-05-19 09:38] tb91 opened #65 "changing the delay before light turns on after hitting a switch"
Hey guys,
I did not know where to post this so I am hoping that you won't be mad and even might have a solution.
Right now when I turn on my milights with my phone it works instantaneously. But as soon as I use a switch to turn on the "electricity" it waits roughly 200ms before it turns on. Somewhere I read that this is intended and is used to "listen" for a command after a power cut or something.

[2019-05-23 13:08] mx-web opened #66 "How do I change the Color temperature?"
I'm using a CW / WW light bulb

[2019-05-23 14:00] mwittig commented on #66
Thank you very much for using node-milight-promise!

Am I right in assuming you have a Dual-White Bulb? In this case please have a look at [example-dual-white-v6.js](https://github.com/mwittig/node-milight-promise/blob/master/examples/example-dual-white-v6.js#L43-L51). The command functions are `warmer(zone)` and `cooler(zone)` which increase/decrease the white color temperature. Note, the milight

[2019-05-23 14:05] mwittig commented on #65
Thank you very much for using node-milight-promise!

The delay before the bulb turns on is a sort of pairing mode which is used to link/unlink controllers/bridges with/from the bulb. As far as I know this value cannot be changed. It is hard-wired in the firmware of the bulbs.

[2019-05-23 15:24] mx-web commented on #66
`light.sendCommands(commands.fullColor.whiteTemperature(0, 100))` worked for me!

But does 100 stand for 6500K and 0 for 2700K?

[2019-05-23 15:26] mx-web commented on #66
light.sendCommands(commands.fullColor.whiteTemperature(0, 100)) worked for me!

[2019-05-23 15:26] #66 closed, assigned to nobody

[2019-05-23 23:42] mwittig commented on #66
That's great. Btw, the percent values roughly map to the following temperatures:

* 0% - 2700K (Warm White)
* 25% - 3650K
* 50% - 4600K
* 75%, - 5550K
* 100% - 6500K (Cool White)

[2019-08-11 13:12] CliffS commented on #26
Hi @mwittig.  Did  you get any further with this?

The issue seems to be that the pattern you are using in `milight-v6-mixin.js` on line 124 is not a patten that works well with promises.  You start a `setTimeout()` inside the `Promise` constructor but, by the time it calls `reject`, it is outside the `Promise` and therefore cannot be caught.

A better way to do it would probably be to use `Promis

[2019-09-01 13:31] CliffS commented on #26
OK, I think I have fixed this by in my PR.  https://github.com/mwittig/node-milight-promise/pull/67 At least it's now working for me.

[2019-09-01 16:56] mwittig commented on #26
@CliffS Thanks for your PR. I'll look into this asap.

[2019-09-17 08:41] CliffS commented on #26
@mwittig I think I have finally got to the bottom of this.  My PR fails because of a race condition: it is possible for the `reject()` to hit before the `Promise.reflect()` masks it.

In any case, as far as I can see, the effect of the `Promise.reflect()` is to ignore the result of the original `Promise`.  Thus in my latest version, I simply `resolve()` the promise rather than `reject()`ing it aft

[2019-10-30 13:08] joeio opened #68 "YL5 LED strip controller support"
It appears as if the [Milight YL5 LED strip controller](http://futlight.com/productdetails.aspx?id=347&typeid=151) should be supported by this package but I'm having problems getting it to work.

The discoverBridges function does discover the device as v6 with a name of "HF-LPT230" but no other commands I've tried work. I always get "no response timeout" errors.

The device is listening on UDP 598

[2019-11-05 23:37] TheLD6978 commented on #68
After connecting the controller to wifi via the app, i can access its webserver. Its just a basic reconfiguration UI which allows you to configure a different ssid/password and lists the software version plus device name. That probably also gets used during the app configuration process.

If someone could shed some light on how the YL5 communicates through the websocket that would be awesome!

[2019-11-06 14:45] joeio commented on #68
Could you please share the path to the web UI you're seeing? The only address I was able to get something other than a 404 was http://X.X.X.X/iweb.html which allows one to upgrade the firmware of the LPT230 chip.

I did a lot of Wiresharking but my limited experience didn't get me really far. It appears to be a back and forth HEX payload which is probably similar to the one used on V6 protocol but

[2019-11-17 13:49] Phil1pp commented on #68
Did you have any progress on this?
Did you try using the LimitlessLEDv6 tool?
[https://www.dropbox.com/s/pqepq1vereagpin/LimitlessLEDv6.exe?dl=0](url)

I am able to red and change all the settings.
However I had not luck on sending any light commands.
By using "set cloud server" and "TCP,38899,PC_IP" the YL5 was establishing a socket connection to my test server.
Now we just need to figure out the

[2019-12-27 12:31] mwittig commented on #64
implemented

[2019-12-27 12:31] #64 closed, assigned to nobody

[2019-12-30 13:44] djsomi commented on #68
Hey guys, did you manage to find anything about these controllers? Would be nice to implement into homebridge.

Thanks!

[2020-01-09 10:36] mwittig commented on #65
Closing this as answered

[2020-01-09 10:36] #65 closed, assigned to nobody

[2020-01-09 10:37] mwittig commented on #8
Answered. Closing

[2020-01-09 10:37] #8 closed, assigned to nobody

[2020-01-09 22:13] Zer0x00 commented on #68
I'm using the LS2 model which looks very similiar but does not have the WiFi functionality integrated.
Currently it runs with this homebridge plugin: https://github.com/Zer0x00/homebridge-milight-v6

For the WiFi functions I previously had running an iBox2, now replaced it with a [ESP8266 hub](https://github.com/sidoh/esp8266_milight_hub)

With the iBox2 I can call Port 80, I can call /iweb.html a

[2020-01-14 00:12] maltezacharias opened #70 "New integration for ha-bridge"
Hi,

you asked to create an issue to send you links for new usecases. I have one ;)
I've been using your code for over a year now using ha-bridge and the example scripts that you linked. I've started to dockerize all of my stuff and created this new solution (v6 RGBW only, but easily extendable):

https://github.com/maltezacharias/milight-controller

Basically it uses docker-compose to combine a h

[2020-01-14 11:26] mwittig commented on #70
Excellent! Thank you very much for using node-milight-promise and for the link to your project which I have added to references. If you have suggestions for improve please feel to raise an issue or make contributions via PRs.

[2020-01-14 11:26] #70 closed, assigned to nobody

[2020-01-14 11:32] mwittig commented on #59
Sorry, guys I currently have no time to make a contribution to the milight-controller project myself. My suggestion is to raise an issue at https://github.com/KevinVR/milights-bridge/issues

[2020-01-14 11:32] #59 closed, assigned to nobody

[2020-01-14 12:04] mwittig commented on #68
Thanks @buenyamin-olgun for stepping in. From reading the link included in the first post my understanding is as follows: The product contains a V6 bridge which can be controlled via UDP 5987. The product is claimed to be compatible with all Might remotes. Thus it should also work with with fullColor (RGB+CCT) control of node-milight-promise set which is basically the command set of the FUT092 rem

[2020-01-14 12:14] Phil1pp commented on #68
I was able to analyze the commands using the Milight app on an android emulator and wireshark.
The YL-5 can be controlled only by UDP commands on port 5987.
The commands are different than on the other limitless/milight devices.

Before you can send any control commands you have to get a "session id" from the device.
I made a C# app to control on/off, brightness, color temperature and send individ

[2020-01-26 19:45] mwittig commented on #68
@Phil1pp That's great. However, I am wondering whether or not you have paired (see "link/unlink" in the app) the device RGB+CCT (FUT092) remote as suggested earlier. If it is paired with the FUT092 I expect it will work with the existing code (using fullColor) given that the product works as advertised.

Which remote did you use with the Milight App on the emulator? Did you try to pair with FUT089

[2020-04-17 20:46] kukelivan commented on #68
@Phil1pp succeded? can you lay out an example code?

[2020-05-02 11:44] thilomaurer opened #71 "Unable to connect to Milight YT1"
I am unable to control a Mi-Light YT1 bridge.

What I know:
* It is a Mi-Light YT1. Manual: https://www.superlightingled.com/PDF/Mi-light/YT1.pdf
* It is connected to my WIFI
* I can control it via the Mi-Light iOS app "Mi-Light Cloud"
* The bridge is using the RF remote code that matches the physical remote `FUT89 / B8`
* The bridge has the IP address `192.168.178.22`
* At http://192.168.178.22/i

[2020-10-26 16:49] Phil1pp commented on #68
Sorry for the long delay.
I finally managed to upload some sample code.
[https://github.com/Phil1pp/MiLightYL5](https://github.com/Phil1pp/MiLightYL5)

Enter IP address of controller, open socket and then pair.
Once you are successfully paired and a session id is displayed, you can execute the other commands.
Adjust brightness, color, saturation and temperature.

You can also send HEX commands.

O

[2021-06-20 08:32] djsomi commented on #68
Hey guys, is there any progress on this?

[2022-08-26 04:49] fteheesen opened #72 "Controlling all zones simultaneously"
Is there a possibility to control all zones simultaneously (for example switch all zones to "red" or to the same effect)?
Or is it planned to implement this feature?

[2022-10-13 13:23] mwittig commented on #72
Sorry for the delay in reply. Yes, you can do this for a single controller. Typically, it is zone 0 to control all zones simultaneously.

[2022-10-13 13:23] #72 closed, assigned to nobody